@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
html{
  margin: 0;
  padding: 0;
  margin: 0 auto;
}
body{
  margin: 0;
  padding: 0;
  margin: 0 auto;
}
@media screen and (max-device-width: 1550px) {
  html{
    max-width: 1210px;
    min-width: 1210px;
  }
  body{
    max-width: 1210px;
    min-width: 1210px;
  }
}
button:focus, a:focus {
    outline: 0px;
}
/* Block1 */
#block1{
  background: linear-gradient(90deg, #ffffff, #fafafa);
  font-family: 'Roboto', sans-serif;
  color: #2C3E50;
}
#block1_position{
  max-width: 1600px;
  min-width: 1600px;
  margin: 0 auto;
}
.block1_brick{
  height: 340px;
  width: 340px;
  margin-bottom: 0px;
  margin-right: 10px;
}
.block1_monolith{
  height: 340px;
  width: 340px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 10px;
}
.block1_aerocrete{
  height: 340px;
  width: 340px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 10px;
}
.block1_cinder{
  height: 340px;
  width: 340px;
  margin-bottom: 0px;
  margin-left: 10px;
}
@media screen and (max-device-width: 2000px) {
  #block1_position{
    max-width: 1210px;
    min-width: 1210px;
  }
  #block1_ver1{
   display: block !important;
  }
  #block1_ver2 {
   display: block !important;
  }
  .block1_ver1_1{
    padding-bottom: 20px;
  }
  .block1_ver2_1{
    padding-bottom: 20px;
  }
  .block1_brick{
    margin-bottom: 0px;
    margin-right: 10px;
  }
  .block1_monolith{
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 10px;
  }
  .block1_aerocrete{
    margin-bottom: 0px;
    margin-right: 10px;
    margin-left: 0px;
  }
  .block1_cinder{
    margin-bottom: 0px;
    margin-left: 10px;
  }
}
.heading{
  font-size: 36px;
  color: #2C3E50;
  font-weight: 500;
  font-family: 'Russo One', sans-serif;
}
.heading_block1{
  font-size: 50px;
  color: #2C3E50;
  font-weight: 500;
  font-family: 'Russo One', sans-serif;
}
/* можно удалить если не пригодится */
.flip-horizontal{
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.line_1{
  height: 11px;
  width: 130px;
  background-color: #ffa700;
  transform: skewX(30deg);
  -webkit-transform: skewX(30deg);
  -moz-transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  -o-transform: skewX(30deg);
}
.line_2{
  height: 5px;
  width: 200px;
  background-color: #58778c;
  transform: skewX(30deg);
  -webkit-transform: skewX(30deg);
  -moz-transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  -o-transform: skewX(30deg);
}
.line_4{
  height: 5px;
  width: 400px;
  background-color: #58778c;
  transform: skewX(30deg);
  -webkit-transform: skewX(30deg);
  -moz-transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  -o-transform: skewX(30deg);
}
.shadow_1{
  box-shadow: 12px 0px 0px 3px rgba(88, 119, 140, 0.48);
}
.shadow_2{
  box-shadow: inset 12px 0px 0px 6px #eee;
}
.block1_ver2_plaster{
  color: #2C3E50;
  font-size: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 6px;;
  padding-left: 18px;
}
.block1_ver2_plaster_choice {
  color: #fff !important;
  font-size: 16px;
  background: #ffa700;
  border-radius: 1rem;
  width: 12rem;
  padding: 0.125rem;
}
.button_type_object{
  color: #fff !important;
  font-size: 18px;
  background: #ffa700;
  border-radius: 1rem;
  width: 18rem;
  padding: 0.125rem;
  opacity: 0;
  transition: 0.5s !important;
  cursor: default !important;
}
.button_type_object_ready{
  opacity: 1;
  transition: 0.5s !important;
  cursor: pointer !important;
}
.block1_ver2_plaster_info_position{
  width: 25px;
  height: 25px;
}
.block1_ver2_plaster_info{
  color: #fff;
  font-size: 16px;
  background-color: #ffa700;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.block1_ver2_plaster_info_text{
  color: #2C3E50;
  font-size: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 6px;;
  padding-left: 18px;
}
.button_ver2_plaster_choice {
  background-image: -webkit-linear-gradient(135deg, #fff 50%, transparent 50%);
  background-image: linear-gradient(135deg, #fff 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 700ms ease-in-out;
  transition: background 700ms ease-in-out;
}
.button_ver2_plaster_choice:hover {
  background-position: 0;
  color: #ffa700 !important;
  -webkit-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out;
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #ffa700 inset;
}
.button_ver2_plaster_choice, .button_choice:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.brick{
  height: 340px;
  width: 340px;
  margin: 0 auto;
  background-image: url(img/brick.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.monolith{
  height: 340px;
  width: 340px;
  margin: 0 auto;
  background-image: url(img/monolith.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.aerocrete{
  height: 340px;
  width: 340px;
  margin: 0 auto;
  background-image: url(img/aerocrete.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.cinder{
  height: 340px;
  width: 340px;
  margin: 0 auto;
  background-image: url(img/cinder.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.knaufg{
  background-image: url(img/knaufg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.volma{
  background-image: url(img/volma.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.knaufc{
  background-image: url(img/knaufc.png);
  background-size: contain;
  background-repeat: no-repeat;

}
.plitonit{
  background-image: url(img/plitonit.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#block1_place{
  display: none;
}
#block1_plaster{
  display: none;
}

.img_block .content_block {
  text-align:center;
  min-height: 100%;
}
.img_block .content_block {
  display: block;
  position: relative;
  overflow:hidden;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  cursor:pointer;
}
.content_block span{
  font-size: 24px;
  color: #ffffff;
  font-weight: 500;
  font-family: 'Russo One', sans-serif;
  text-transform: uppercase;
}
.img_block .content_block .over_block {
  background-color:rgba(0, 160, 150, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -moz-transition:all 1s;
  -webkit-transition:all 1s;
  -o-transition:all 1s;
  transition:all 1s;
}
.img_block .content_block:hover .over_block {
  display:block;
  background-color: rgba(4, 4, 4, 0.431);
}
.img_block .content_block span {
  width: 100%;
  height: 110%;
  position: absolute;
  display: block;
  bottom: 0px;
  left: 0;
  z-index: 2;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}
.img_block .content_block:hover span {
  height: 55%;

}

/* Block2_area */
#block2_area{
  background: linear-gradient(90deg, #fafafa, #ffffff);
  font-family: 'Roboto', sans-serif;
  color: #2C3E50;
}
.block_position{
  max-width: 1210px;
  min-width: 1210px;
  margin: 0 auto;
}
.out_view{
  visibility: hidden;
}
#nav-home-tab{
  margin-right:-5px;
  z-index: 2;
  color: #2C3E50;
}
#nav-profile-tab{
  margin-left: -5px;
  margin-right:-5px;
  z-index: 1;
  color: #2C3E50;
}
#nav-contact-tab{
  margin-left: -5px;
  z-index: 0;
  color: #2C3E50;
}
#nav-tabContent{
  position: relative;
  z-index: 3;
}
.heading_nav{
  font-size: 30px;
  color: #2C3E50;
  font-weight: 500;
  font-family: 'Russo One', sans-serif;
  max-width: 1112px;
}
.block2_type_text_cost{
  color: #838f9c;
}
.heading_block2{
  font-size: 26px;
  color: #2C3E50;
  font-weight: 500;
  font-family: 'Russo One', sans-serif;
}
.button_calculate{
  position: relative;
}
.button_calculate_1{
  color: #fff;
  font-size: 18px;
  border-radius: ;
  width: 18rem;
  padding: 0.25rem;
  border: 0px;
  cursor: default !important;
}
.button_calculate_2:hover{
  color: #ffa700;
  background: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #ffa700 inset;
  cursor: pointer !important;
}
button{
  background: #ffa700;
}


#wall_plaster_square, #roof_plaster_square, #window_plaster_width{
  width: 40%;
}
#window_plaster_square{
  width: 45%;
}
#wall_plaster_thickness, #roof_plaster_thickness, #window_plaster_thickness, #plaster_wall_outlay, #plaster_roof_outlay, #plaster_window_outlay{
  border: 0px;
  background: transparent !important;
}
#wall_plaster_thickness, #roof_plaster_thickness, #window_plaster_thickness, #plaster_wall_outlay, #plaster_roof_outlay, #plaster_window_outlay:focus{
  outline: -webkit-focus-ring-color auto 0px;
  background: transparent !important;
}
.arrow{
  height: 20px;
}
.button_info{
  width: 30px;
  height: 30px;
}
.button_info_position{
  position: absolute;
  right: 0%;
}
.button_info_press_zone{
  width: 60px;
  height:60px;
}
#plaster_wall_outlay, #plaster_roof_outlay, #plaster_window_outlay{
  height: 57px;
  text-align-last: center;
  text-align: center;
  color: #2C3E50;
}
.cross{
  height: 60px;
  padding: 20px;
  position: absolute;
  right: 0px;
}
.pos_rel{
  position: relative;
}
.checkmark{
  position: absolute;
  height: 34px;
  width: 34px;
  top: 5px;
  right: 0;
  opacity: 0;
  transition: 2s;
}
.checkmark_ready{
  opacity: 1;
  transition: 2s;
}
.string_1{
  color: #ffffff;
  background-color: #ffa700;
  height: 60px;
  font-size: 20px;
}
.string_2{
  height: 60px;
  font-size: 20px;
}

/* border_area */
.border_area_top_left{
  border-right: 3px solid #2C3E50;
  border-bottom: 3px solid #2C3E50;
}
.border_area_top{
  border-right: 3px solid #2C3E50;
  border-left: 3px solid #2C3E50;
  border-bottom: 3px solid #2C3E50;
}
.border_area_top_right{
  border-right: 6px solid #2C3E50;
  border-left: 3px solid #2C3E50;
  border-bottom: 3px solid #2C3E50;
}
.border_area_bottom_left{
  border-right: 3px solid #2C3E50;
  border-top: 3px solid #2C3E50;
}
.border_area_bottom{
  border-right: 3px solid #2C3E50;
  border-left: 3px solid #2C3E50;
  border-top: 3px solid #2C3E50;
}
.border_area_bottom_right{
  border-right: 6px solid #2C3E50;
  border-left: 3px solid #2C3E50;
  border-top: 3px solid #2C3E50;
}


.border_top_left{
  border-right: 3px solid #2C3E50;
  border-bottom: 3px solid #2C3E50;
}
.border_top{
  border-right: 3px solid #2C3E50;
  border-left: 3px solid #2C3E50;
  border-bottom: 3px solid #2C3E50;
}
.border_top_thickness{
  border-right: 3px solid #2C3E50;
  border-left: 3px solid #2C3E50;
  border-bottom: 3px solid #2C3E50;
}
.border_top_right{
  border-left: 3px solid #2C3E50;
  border-bottom: 3px solid #2C3E50;
}
.border_bottom_left{
  border-top: 3px solid #2C3E50;
  border-right: 3px solid #2C3E50;
}
.border_bottom{
  border-top: 3px solid #2C3E50;
  border-right: 3px solid #2C3E50;
  border-left: 3px solid #2C3E50;
}
.border_bottom_thickness{
  border-top: 3px solid #2C3E50;
  border-right: 3px solid #2C3E50;
  border-left: 3px solid #2C3E50;
  max-width: 200px;
  width: 200px;
}
.border_bottom_right{
  border-top: 3px solid #2C3E50;
  border-left: 3px solid #2C3E50;
}
.border_workresult_top_left{
  border-right: 3px solid #2C3E50;
  border-bottom: 3px solid #2C3E50;
}
.border_workresult_top{
  border-right: 3px solid #2C3E50;
  border-left: 3px solid #2C3E50;
  border-bottom: 3px solid #2C3E50;
}
.border_workresult_top_right{
  border-left: 3px solid #2C3E50;
  border-bottom: 3px solid #2C3E50;
}
.border_workresult_bottom_left{
  border-right: 3px solid #2C3E50;
  border-top: 3px solid #2C3E50;
}
.border_workresult_bottom{
  border-right: 3px solid #2C3E50;
  border-left: 3px solid #2C3E50;
  border-top: 3px solid #2C3E50;
}
.border_workresult_bottom_right{
  border-left: 3px solid #2C3E50;
  border-top: 3px solid #2C3E50;
}

.tab-content>.tab-pane {
  border: 6px solid #2C3E50;
  margin-top: -5px;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  font-family: 'Roboto', sans-serif;
  background: #fff;
}

.fade{
  transition: all 0.25s;
}
.nav-item:focus{
  transition: all 0.25s;
  opacity: 1;
}
/* .nav-item:active{
  opacity: 0;
  transition: all 0.15s;
} */
.nav-tabs .nav-link {
  border: 2px solid #2C3E50;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  background: #fff;
}
.nav-tabs .nav-item {
  margin-bottom: 0px;
  border-color: #2C3E50 #2C3E50 #fff;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  color: #2C3E50;
  border-color: #2C3E50 #2C3E50 #fff;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
  border-color: #2C3E50 #2C3E50 #2C3E50;
}
.nav-link.active{
  color: #2C3E50;
  border-color: #2C3E50 #2C3E50 #fff #fff;
  z-index: 4 !important;
  border: 6px solid #2C3E50;
  margin-top: -2px;
  margin-bottom: -2px;
  border-bottom: 6px #FFFFFF;
}
.block2_choice {
  color: #fff;
  font-size: 20px;
  background-image: linear-gradient(45deg, #ffa700 0%, #ffa700 100%);
  border: none;
  border-radius: 100px;
  display: inline-block;
}
.button_choice:hover {
  background-position: 0;
  color: #ffa700 !important;
  -webkit-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out;
  text-decoration: none;
  background: #ffffff !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #ffa700 inset;
}
div.box{
  background-color: #ffffff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.19);
}
.box_outline{
  outline: 3px solid #ffa700 !important;
}
.block2_finish_text{
  font-size: 24px;
  line-height: 1.4;
}

/* Modal Plaster */
.white-popup{
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  position: relative;
  background: #ffffff;
  width: auto;
  max-width: 1060px;
  min-width: 1060px;
  margin: 20px auto;
}
.mfp-close{
  color: inherit !important;
  font-size: 45px !important;
  height: 61px !important;
  width: 61px !important;
}
.mfp-container{
  width: 100%;
  height: 100%;
  min-width: 1210px;
}
.mfp-bg{
  height: 100%;
  width: 100%;
  min-width: 1210px;
}

/* Modal Sale */
#modal_sale{
  color: #2C3E50;
  max-width: 1210px;
  min-width: 1210px;
}
.modal_sale_name{
  font-size: 30px;
  color: #2C3E50;
  font-weight: 500;
  font-family: 'Russo One', sans-serif;
  padding-right: 61px;
  padding-left: 61px;
}
.modal_plaster{
  color: #2C3E50;
  font-size: 20px;
  padding-bottom: 61px;
  padding-right: 61px;
  padding-left: 61px;
}
.modal_plaster_name{
  background: #ffa700;
  font-size: 30px;
  border-bottom: 6px solid #2C3E50;
}
.modal_plaster_info_text_1{
  color: #2C3E50;
  font-size: 26px;
  border-bottom: 6px solid #2C3E50;
}
.modal_plaster_info_text_2{
  color: #2C3E50;
  font-size: 18px;
}
.modal_plaster_info_text_2 p{
  line-height: 1;
}
.modal_plaster_info_text_3{
  color: #2C3E50;
  font-size: 20px;
  border-top: 6px solid #2C3E50;
}

/* block3_material */
#block3_material{
  background: linear-gradient(90deg, #ffffff, #fafafa);
  font-family: 'Roboto', sans-serif;
  color: #2C3E50;
}
.string_3{
  border-right: 6px solid #2C3E50;
  border-left: 6px solid #2C3E50;
  color: #ffffff;
  background-color: #ffa700;
  height: 60px;
  font-size: 20px;
}
.string_4{
  border-right: 6px solid #2C3E50;
  border-left: 6px solid #2C3E50;
  color: #2C3E50;
  height: 60px;
  font-size: 20px;
}
.string_5{
  border-right: 6px solid #2C3E50;
  border-left: 6px solid transparent;
  color: #2C3E50;
  height: 60px;
  font-size: 20px;
}
.border_top_left_2{
  border-bottom: 6px solid #2C3E50;
  border-right: 3px solid #2C3E50;
}
.border_top_2{
  border-bottom: 6px solid #2C3E50;
  border-right: 3px solid #2C3E50;
  border-left: 3px solid #2C3E50;
  max-width: 125px;
  width: 125px;
}
.border_top_2_small{
  border-bottom: 6px solid #2C3E50;
  border-right: 3px solid #2C3E50;
  border-left: 3px solid #2C3E50;
  max-width: 110px;
  width: 110px;
}
.border_top_2_smaller{
  border-bottom: 6px solid #2C3E50;
  border-right: 3px solid #2C3E50;
  border-left: 3px solid #2C3E50;
  max-width: 115px;
  width: 115px;
}
.border_top_right_2{
  border-bottom: 6px solid #2C3E50;
  border-left: 3px solid #2C3E50;
  max-width: 140px;
  width: 140px;
}
.border_middle_left{
  position: relative;
  border-bottom: 3px solid #2C3E50;
  border-right: 3px solid #2C3E50;
  padding-right: 60px;
  max-width: 381px;
}
.border_middle{
  border-bottom: 3px solid #2C3E50;
  border-right: 3px solid #2C3E50;
  border-left: 3px solid #2C3E50;
  max-width: 125px;
  width: 125px;
}
.border_middle_small{
  border-bottom: 3px solid #2C3E50;
  border-right: 3px solid #2C3E50;
  border-left: 3px solid #2C3E50;
  max-width: 110px;
  width: 110px;
}
.border_middle_smaller{
  border-bottom: 3px solid #2C3E50;
  border-right: 3px solid #2C3E50;
  border-left: 3px solid #2C3E50;
  max-width: 115px;
  width: 115px;
}
.border_middle_right{
  border-bottom: 3px solid #2C3E50;
  border-left: 3px solid #2C3E50;
  max-width: 140px;
  width: 140px;
}
.border_middle_left_2{
  border-right: 3px solid #2C3E50;
}
.border_bottom_2{
  border-right: 3px solid #2C3E50;
  border-left: 3px solid #2C3E50;
  max-width: 300px;
  width: 300px;
}
.border_bottom_right_2{
  border-left: 3px solid #2C3E50;
  max-width: 300px;
  width: 300px;
}
.border_middle_2{
  border-top: 3px solid #2C3E50;
  font-size: 22px;
  font-family: 'Russo one', sans-serif;
}
.border_middle_left_3{
  position: relative;
  border-top: 3px solid #2C3E50;
  border-bottom: 3px solid #2C3E50;
  border-right: 3px solid #2C3E50;
}
.border_middle_3{
  border-top: 3px solid #2C3E50;
  border-bottom: 3px solid #2C3E50;
  border-left: 3px solid #2C3E50;
  border-right: 3px solid #2C3E50;
}
.border_middle_right_3{
  border-top: 3px solid #2C3E50;
  border-bottom: 3px solid #2C3E50;
  border-left: 3px solid #2C3E50;
}
.border_bottom_3{
  border-right: 3px solid #2C3E50;
  border-left: 3px solid #2C3E50;
}
.border_bottom_right_3{
  border-left: 3px solid #2C3E50;
}
.border_middle_4{
  border-bottom: 3px solid #2C3E50;
  position: relative;
  font-size: 22px;
  font-family: 'Russo one', sans-serif;
}

/* block4_workresult */
#block4_workresult{
  background: linear-gradient(90deg, #fafafa, #ffffff);
  font-family: 'Roboto', sans-serif;
  color: #2C3E50;
}

/* block0_commonresult */
#block0_commonresult{
  min-width: 1100px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  color: #2C3E50;
}
.space_for_block0{
  height: 90px;
}
.common_border{
  width: 6px;
  height: 60px;
  background: #ffa700;
  border-radius: 50px 50px 50px 50px;
}
.common_cell{
  width: 105px;
}
.common_input_cell{
  width: 105px;
}
.string_6{
  height: 90px;
  font-size: 18px;
  color: #ffffff;
  background-color: #838F9C;
  font-family: 'Russo one', sans-serif;
}
@media screen and (max-device-width: 992px) {
  #block0_commonresult{
    position: static !important;
  }
}
/* Rotater */
.card {
  position: relative;
  text-align: center;
  border: 0px;
  border-radius: 0;
  background-color: transparent;
}
/* card fronts and backs */
.card__back {
  position: absolute;
  background-color: transparent;
}
.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s;
          transition: transform 0.5s;
}
.card__back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
/* click effect */
.card.effect__click.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.card.effect__click.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
/* hover effect */
.card.effect__hover:hover .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.block4_workresult_wall{
  display: none;
}
.block4_workresult_roof{
  display: none;
}
.block4_workresult_window{
  display: none;
}
.block3_material_wall{
  display: none;
}
.block3_material_roof{
  display: none;
}
.block3_material_window{
  display: none;
}
.block3_material_dn{
  display: none;
}
.forcards{
  display: none !important;
}
.out_display{
  display: none;
}
