@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{

}
body{
  margin: 0;
  padding: 0;

}
#block1{
  max-width: 1910px;
  min-width: 750px;
  font-family: 'Russo One', sans-serif;
}
.flip-horizontal{
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.line_1{
  height: 11px;
  width: 130px;
  background-color: #ffa700;
  transform: skewX(30deg);
  -webkit-transform: skewX(30deg);
  -moz-transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  -o-transform: skewX(30deg);
}
.line_2{
  height: 5px;
  width: 200px;
  background-color: #58778c;
  transform: skewX(30deg);
  -webkit-transform: skewX(30deg);
  -moz-transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  -o-transform: skewX(30deg);
}
.line_3{
  height: 5px;
  width: 400px;
  background-color: #58778c;
  transform: skewX(30deg);
  -webkit-transform: skewX(30deg);
  -moz-transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  -o-transform: skewX(30deg);
}
.line_4{
  height: 5px;
  width: 400px;
  background-color: #58778c;
  transform: skewX(30deg);
  -webkit-transform: skewX(30deg);
  -moz-transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  -o-transform: skewX(30deg);
}
.line_5{
  box-shadow: 12px 0px 0px 3px rgba(88, 119, 140, 0.48);
}
