<table class="login_table" cellpadding="0" cellspacing="0" border="0" align="center">
    <tr>
        <td valign="top" align="center">
          <form class="login" action="login.php" method="post" name="form">
            <input class="login_1" name="loginDB" type="text" placeholder="Логин">
            <input class="login_3" name="passDB" type="password" placeholder="Пароль">
            <input class="login_2" type="submit" value="Авторизация">
          </form>
        </td>
    </tr>
</table>
